name: Build

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  pre-build:
    name: Pre-Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
